<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-image: url('https://www.rjmprogramming.com.au/HTMLCSS/faint_grass_pattern_204850.jpg');">
        <h1>Hello</h1>
        
        <form th:object="${penggunaForm}" th:action="@{/pengguna/save}" method="POST">
            <input type="text" th:field="*{iDPengguna}" class="form-control" placeholder="Id"><br>
            <input type="text" th:field="*{email}" class="form-control" placeholder="Email"><br>
            <input type="text" th:field="*{nama}" class="form-control" placeholder="Nama"><br>
            <input type="text" th:field="*{telefon}" class="form-control" placeholder="Telefon"><br>
            
            <!--
            <input type="text" th:field="*{statusDaftarulang}" class="form-control" placeholder="Status"><br>
            <input type="text" th:field="*{statusDaftarulang}" class="form-control" placeholder="Status"><br>
            -->
            <input type="submit" value="Submit">
        </form>
        
    </body>
</html>
